body {
    background-image: linear-gradient(to right, rgb(27, 0, 86), rgb(97, 3, 81), rgb(4, 81, 119));
}

.button:hover {
    transform: translateX(-3%);
}

div:hover {
    transform: scale(1.1);
}

#return:hover {
    animation: bounce 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) infinite alternate;
}
#wipe {
    bottom: 1%;
    left: 0.5%;
    font-weight: normal;
    font-family: "Mozilla Headline";
    color: #ffffff;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px 10px 10px 10px;
    border-radius: 20px;
    border: transparent;
    font-size: 12px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0px 20px rgba(255, 255, 255, 0.3);
    transition: all 0.25s ease-in-out;
    width: 60px;
    height: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#toggle {
    top: 2%;
    right: 7%;
    font-weight: normal;
    font-family: "Mozilla Headline";
    color: #ffffff;
    position: absolute;
    background-color: rgba(0, 255, 30, 0.6);
    padding: 10px 10px 10px 10px;
    border-radius: 20px;
    border: transparent;
    font-size: 24px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0px 20px rgba(255, 255, 255, 0.3);
    transition: all 0.25s ease-in-out;
    width: 90px;
    height: 90px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mute {
    top: 2%;
    right: 1%;
    font-weight: normal;
    font-family: "Mozilla Headline";
    color: #ffffff;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 10px 10px 10px 10px;
    border-radius: 20px;
    border: transparent;
    font-size: 48px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0px 20px rgba(255, 255, 255, 0.3);
    transition: all 0.25s ease-in-out;
    width: 90px;
    height: 90px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-15px);
    }
}

a {
    text-decoration: none;
    color: inherit;
    all: unset;
    cursor: pointer;
}

#return {
    top: -3%;
    left: 0.5%;
    font-weight: normal;
    font-family: "Mozilla Headline";
    color: #ffffff;
    position: absolute;
    background-color: rgba(255, 30, 0, 0.6);
    padding: 10px 10px 10px 10px;
    border-radius: 20px;
    font-size: 48px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0px 20px rgba(255, 0, 0, 0.3);
    transition: all 0.25s ease-in-out;
    width: 60px;
    height: 60px;
    text-align: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    font-weight: normal;
    font-family: "Mozilla Headline";
    color: #000000;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px 20px 20px 20px;
    border-radius: 20px;
    font-size: 48px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0px 20px rgba(255, 223, 223, 0.6);
    transition: all 0.25s ease-in-out;
    width: 9%;
    height: 16%;
    text-align: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

#controls {
    left: 42.5%;
    top: 50%;
    font-weight: bold;
    font-family: "Mozilla Headline";
    color: #ff11AA;
    position: absolute;
    background-color: rgb(66, 11, 184, 0.3);
    padding: 20px 20px 20px 20px;
    border-radius: 20px;
    font-size: 48px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.3);
    transition: all 0.25s ease-in-out;
    width: 12%;
    text-align: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

h9 {
    top: 5%;
    left: 39%;

    font-weight: bold;
    font-family: "Mozilla Headline";
    color: #ff11AA;
    position: absolute;
    background-color: rgb(66, 11, 184, 0.3);
    padding: 20px 20px 20px 20px;
    border-radius: 20px;
    font-size: 100px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.3);
    transition: all 0.25s ease-in-out;
}

h12 {
    top: 25%;
    left: 66%;

    font-weight: bold;
    font-family: "Mozilla Headline";
    color: #ff11AA;
    position: absolute;
    background-color: rgb(66, 11, 184, 0.3);
    padding: 20px 2000px 20px 20px;
    border-radius: 20px;
    font-size: 100px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.3);
    transition: all 0.25s ease-in-out;
}

h223 {
    top: 42%;
    left: 66%;

    font-weight: bold;
    font-family: "Mozilla Headline";
    color: #ff11AA;
    position: absolute;
    background-color: rgb(66, 11, 184, 0.3);
    padding: 20px 2000px 20px 20px;
    border-radius: 20px;
    font-size: 100px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.3);
    transition: all 0.25s ease-in-out;
}

h2267284643634 {
    top: 59%;
    left: 66%;

    font-weight: bold;
    font-family: "Mozilla Headline";
    color: #ff11AA;
    position: absolute;
    background-color: rgb(66, 11, 184, 0.3);
    padding: 20px 2000px 20px 20px;
    border-radius: 20px;
    font-size: 100px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.3);
    transition: all 0.25s ease-in-out;
}

#w {
    top: 331px;
    left: 15%;
}

#a {
    top: 55%;
    left: 3.5%;
}

#s {
    top: 55%;
    left: 15%
}

#d {
    top: 55%;
    left: 26.5%;
}

#space {
    flex-direction: row;
    height: 10%;
    width: 20%;
    top: 75.5%;
    left: 38.5%;
}

#o {
    top: 331px;
    left: 73.5%;
}

#k {
    top: 55%;
    left: 62%;
}

#f {
    top: 55%;
    left: 26.5%;
}

#e {
    top: 331px;
    left: 15%;
}

#wa {
    top: 331px;
    left: 73.5%;
    opacity: 0;
}

#aa {
    top: 55%;
    left: 62%;
    opacity: 0;
}

#sa {
    top: 55%;
    left: 73.5%;
    opacity: 0;
}

#da {
    top: 55%;
    left: 85%;
    opacity: 0;
}

#roy {
    top: 25%;
    left: 3%;
}

#aaron {
    top: 25%;
    left: 18%;
}

#eason {
    top: 25%;
    left: 33%
}

#akshi {
    top: 25%;
    left: 48%
}

#by {
    font-family: "Indie Flower";
    color: white;
    position: absolute;
    right: 1%;
    bottom: 0%;
    font-size: larger;
    z-index: 200;
}


#devs>div>p {
    color:#ffffff;
    position: absolute;
    width: max-content;
    margin: 0.25rem 0 0;
    transform: translateY(150%);
    text-align: center;
}

#software{
    left: 69%;
    top: 0%;
    font-weight: bold;
    font-family: "Mozilla Headline";
    color: #ff11AA;
    position: absolute;
    background-color: rgb(66, 11, 184, 0.3);
    padding: 20px 20px 20px 20px;
    border-radius: 20px;
    font-size: 48px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.3);
    transition: all 0.25s ease-in-out;
    width: 20%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#inspire{
    left: 5%;
    top: 69%;
    font-weight: bold;
    font-family: "Mozilla Headline";
    color: #ff11AA;
    position: absolute;
    background-color: rgb(66, 11, 184, 0.3);
    padding: 20px 20px 20px 20px;
    border-radius: 20px;
    font-size: 48px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.3);
    transition: all 0.25s ease-in-out;
    width: 20%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content {
    top: 24%;
    right: 6%;
    font-weight: normal;
    font-family: "Mozilla Headline";
    color: #000000;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px 20px 20px 20px;
    border-radius: 20px;
    font-size: 24px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0px 20px rgba(255, 223, 223, 0.6);
    transition: all 0.25s ease-in-out;
    width: 24%;
    height: 32%;
    text-align: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
}
img {
    width: 24px;
    height: 24px;
}

#load img {
    position: absolute;
    width: 60%;
    height:auto;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    z-index:11;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
}

html, body {
    overflow: hidden
}

.rectangle, #up {
    position: absolute;
    top:0%;
    left:-1%;
    width: 101%;
    height: 24%;
    background-color: #000000;
    z-index: 10;
}
.rectangle, #down {
    position: absolute;
    top:76%;
    left:-1%;
    width: 101%;
    height: 24%;
    background-color: #000000;
    z-index: 10;
}