body {
    background-image: linear-gradient(to right, rgb(27, 0, 86), rgb(97, 3, 81), rgb(4, 81, 119));
}
.button:hover {
    transform: scale(1.5);
}
div:hover {
    transform: scale(1.1);
}
#return:hover {
    animation: bounce 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) infinite alternate;
}
#toggle {
    top: 45%;
    left: 40%;
    font-weight: normal;
    font-family: "Mozilla Headline";
    color: #ffffff;
    position: absolute;
    background-color: rgba(0, 255, 30, 0.6);
    padding: 10px 10px 10px 10px;
    border-radius: 20px;
    font-size: 24px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0px 20px rgba(0, 255, 0, 0.3);
    transition: all 0.25s ease-in-out;
    width: 20%;
    height: 10%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-15px);
    }
}
a {
  text-decoration: none; 
  color: inherit;       
  all: unset;
  cursor: pointer;
}
#return {
    top: -3%;
    left: 1%;
    font-weight: normal;
    font-family: "Mozilla Headline";
    color: #ffffff;
    position: absolute;
    background-color: rgba(255, 30, 0, 0.6);
    padding: 10px 10px 10px 10px;
    border-radius: 20px;
    font-size: 48px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0px 20px rgba(255, 0, 0, 0.3);
    transition: all 0.25s ease-in-out;
    width: 10%;
    height: 8%;
    text-align: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
div {
    font-weight: normal;
    font-family: "Mozilla Headline";
    color: #000000;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 20px 20px 20px 20px;
    border-radius: 20px;
    font-size: 48px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0px 20px rgba(255, 223, 223, 0.3);
    transition: all 0.25s ease-in-out;
    width: 9%;
    height: 16%;
    text-align: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
#controls {
    left: 42.5%;
    top: 20%;
    font-weight: bold;
    font-family: "Mozilla Headline";
    color: #ff11AA;
    position: absolute;
    background-color: rgb(66, 11, 184,0.3);
    padding: 20px 20px 20px 20px;
    border-radius: 20px;
    font-size: 48px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.3);
    transition: all 0.25s ease-in-out;
    width: 12%;
}
h9 {
    top: 5%;
    left: 39%;

    font-weight: bold;
    font-family: "Mozilla Headline";
    color: #ff11AA;
    position: absolute;
    background-color: rgb(66, 11, 184,0.3);
    padding: 20px 20px 20px 20px;
    border-radius: 20px;
    font-size: 100px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.3);
    transition: all 0.25s ease-in-out;
}
h10 {
    top: 25%;
    left: 25%;

    font-weight: bold;
    font-family: "Mozilla Headline";
    color: #ff11AA;
    position: absolute;
    background-color: rgb(66, 11, 184,0.3);
    padding: 20px 20px 20px 20px;
    border-radius: 20px;
    font-size: 100px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.3);
    transition: all 0.25s ease-in-out;
}

h12 {
    top: 50%;
    left: 42%;

    font-weight: bold;
    font-family: "Mozilla Headline";
    color: #ff11AA;
    position: absolute;
    background-color: rgb(66, 11, 184,0.3);
    padding: 20px 20px 20px 20px;
    border-radius: 20px;
    font-size: 100px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.3);
    transition: all 0.25s ease-in-out;
}

h223 {
    top: 50%;
    right: 66%;

    font-weight: bold;
    font-family: "Mozilla Headline";
    color: #ff11AA;
    position: absolute;
    background-color: rgb(66, 11, 184,0.3);
    padding: 20px 20px 20px 20px;
    border-radius: 20px;
    font-size: 100px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.3);
    transition: all 0.25s ease-in-out;
}

h2267284643634 { 
    top: 50%;
    left: 66%;

    font-weight: bold;
    font-family: "Mozilla Headline";
    color: #ff11AA;
    position: absolute;
    background-color: rgb(66, 11, 184,0.3);
    padding: 20px 20px 20px 20px;
    border-radius: 20px;
    font-size: 100px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.3);
    transition: all 0.25s ease-in-out;
}

#w {
    top:331px;
    left:15%;
}
#a {
    top:55%;
    left:3.5%;
}
#s {
    top:55%;
    left:15%
}
#d {
    top:55%;
    left:26.5%;
}
#space {
    flex-direction:row;
    height:10%;
    width:20%;
    top:80%;
    left:38%;
}
#o {
    top:34%;
    left:73.5%;
}
#k {
    top:55%;
    left:62%;
}
#f {
    top:55%;
    left:26.5%;
}
#e {
    top:331px;
    left:15%;
}
#wa {
    top:34%;
    left:73.5%;
    opacity: 0;
}
#aa {
    top:55%;
    left:62%;
    opacity: 0;
}
#sa {
    top:55%;
    left:73.5%;
    opacity: 0;
}
#da {
    top:55%;
    left:85%;
    opacity: 0;
}
